<section class="header">
  <h1 class="header__title">Tic tac toe</h1>
  <h3 class="header__turn" *ngIf="stateService.winner === null">
    Turn: <span [ngClass]="symbolClasses">{{stateService.turn}}</span>
  </h3>

  <div *ngIf="stateService.winner !== null">
    <span>{{stateService.winner | result}}</span>
    <div class="header__startBtn" (click)="stateService.resetState()">Start again</div>
  </div>


</section>

<section class="board">
  <div
    class="board__button"
    *ngFor="let cellValue of stateService.state;let i=index"
    [class.board__button__circle]="isCircle(cellValue)"
    [class.board__button__cross]="isCross(cellValue)"
    [id]="'cell_'+ (i + 1)"
    (click)="stateService.setState(i);">
    {{cellValue}}
  </div>
</section>
